<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <h3 class="text-primary mb-3">{{job.title}}</h3>
              <p class="lead">
                <span class="text-dark">
                  <strong>
                    <fa-icon [icon]="faLandMark"></fa-icon> {{job.company}}
                  </strong>
                </span>
                <span class="text-success ml-5">
                  <strong>
                    <fa-icon [icon]="faMapMarker"></fa-icon> {{job.location}}
                  </strong>
                </span>
              </p>
            </div>

            <div class="col-md-3 align-self-center">
              <button class=" align-middle btn btn-round btn-block btn-danger btn-lg text-uppercase"><strong><fa-icon [icon]="faHandPointRight"></fa-icon> Apply Now</strong></button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p class="text-label">
                <span class="badge badge-danger"><fa-icon [icon]="faMoneyBill"></fa-icon> {{job.salary_range | salary_range}}</span>
                <span class="badge badge-info ml-3"><fa-icon [icon]="faFileContract"></fa-icon> {{job.job_type | job_type}}</span>
                <span class="badge badge-primary ml-3"><fa-icon [icon]="faFlagUsa"></fa-icon> VISA Sponsor</span>
                <span class="badge badge-warning ml-3" *ngIf="job.is_remote"><fa-icon [icon]="faGlobe"></fa-icon> Remote</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-dark text-white">
          <h5>Job Description</h5>
        </div>
        <div class="card-body">
          <div class="card-text">
            {{ job.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-dark text-white">
          <h5>Requirement</h5>
        </div>
        <div class="card-body">
          <div class="card-text">
            {{ job.requirement}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
