body {
    background-color: beige;
  }

  h3 {
      color : black;
      position: relative;
  }

  li{
      color: whitesmoke;
  }

  #div1 {
    border: solid 10px white;
      background-color: green
  }

  #div2 {
    border: solid 10px white;
    background-color:blue;
}