<body>
    <div [formGroup]="jobdetails" >

        <div id="div1">
            <h2>Dallas Location</h2>
                <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1 text-primary"></h5>
                          <small>Main office</small>
                        </div>
                        <p class="mb-1 text-dark">
                          <small>WellsFargo Bank</small> {{"&#8226;"}}
                          <small> WE are here for you!!!!!!</small>
                        </p>
                        <p class="mb-1">
                          <small class="text-success">Irynving </small> {{"&#8226;"}}
                          <small class="text-warning">Street Adams Street</small> {{"&#8226;"}}
                          <small class="text-info">Dallas, Texax  ZipCode: 43511</small>
                        </p>
                        <p class="mb-1"> It is near near Bank of America in between the lake merit.</p>                    </a>
         </div>
         <div id="div1">
                <h2>Chickaog Location</h2>
                    <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1 text-primary"></h5>
                              <small>Main Branch</small>
                            </div>
                            <p class="mb-1 text-dark">
                              <small>WellsFargo Bank</small> {{"&#8226;"}}
                              <small> WE are here for you!!!!!!</small>
                            </p>
                            <p class="mb-1">
                              <small class="text-success">Jefferson County </small> {{"&#8226;"}}
                              <small class="text-warning">Street Adams Street</small> {{"&#8226;"}}
                              <small class="text-info">Chickage, Illinois State ZipCode: 43511</small>
                            </p>
                            <p class="mb-1"> It is near near Bank of America in between the lake merit.</p>                    </a>
             </div>
             <div id="div1">
                    <h2>MaryLand Location</h2>
                        <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                  <h5 class="mb-1 text-primary"></h5>
                                  <small>Second Branch</small>
                                </div>
                                <p class="mb-1 text-dark">
                                  <small>WellsFargo Bank</small> {{"&#8226;"}}
                                  <small> WE are here for you!!!!!!</small>
                                </p>
                                <p class="mb-1">
                                  <small class="text-success">Jefferson County </small> {{"&#8226;"}}
                                  <small class="text-warning">Street Adams Street</small> {{"&#8226;"}}
                                  <small class="text-info">Maryland, Maryland State ZipCode: 43511</small>
                                </p>
                                <p class="mb-1"> It is near near Bank of America in between the lake merit.</p>                    </a>
                 </div>
                
        <div id="div2">

            </div>
            <div id="div3">

                </div>
                <div id="div4">

                    </div>
                              
    <div id="div5">
            <h3>Duties And Responsiblities</h3>
            <ul>
           <li> Let's break down the basic skills you need to be a successful software developer.</li>
           <li> Qualification / Certification </li>
           <li> Computer Programming / Coding </li>
           <li>Logical Thinking & Problem-solving</li>
           <li>Developing Your “Soft Skills” </li>
            <li>Patience & Attention to Detail.</li>
            <li>Written Communication. </li>
            <li>Teaching. </li>
            <li>Business-savvy.</li>

        </ul>
    </div>
    <div id="div6">
                        <h3>Minimum Requiments</h3>
     <ul>                  
        <li> Work exprience must be Minimum 5 years</li>
        <li> You have to have at least 1 year work exprience in U.S.</li>
        <li> You have to be free from any loans</li>
    </ul> 
    </div>
    <!--<button  (click)="navigate()">Apply</button> -->
    
    <a href="/jobs/:id">Apply</a>
     <br>   
    <a href="/jobs">Back to Job listing Page</a>

    </div>
    <p></p>
</body>
