<body>
    <div [formGroup]="jobdetails" >
              <h3>Duties And Responsiblities</h3>
    <div id="div1">
           <li> Let's break down the basic skills you need to be a successful software developer.</li>
           <li> Qualification / Certification </li>
           <li> Computer Programming / Coding </li>
           <li>Logical Thinking & Problem-solving</li>
           <li>Developing Your “Soft Skills” </li>
            <li>Patience & Attention to Detail.</li>
            <li>Written Communication. </li>
            <li>Teaching. </li>
            <li>Business-savvy.</li>
    </div>
               <h3>Minimum Requiments</h3>
    <div id="div2">
        
        <li> Work exprience must be Minimum 5 years</li>
        <li> You have to have at least 1 year work exprience in U.S.</li>
        <li> You have to be free from any loans</li>
    </div>
    <!--<button  (click)="navigate()">Apply</button> -->
    <a href="/jobs/:id">Apply</a>
     <br>   
    <a href="/jobs">Back to Job listing Page</a>

    </div>
    <p></p>
</body>
