<div class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-4">My Jobs</h1>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="list-group ">
          <a [routerLink]="['/u/jobs', j._id]" class="list-group-item list-group-item-action" *ngFor="let j of jobs">
            <div class="row">
              <div class="col-md-10">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1 text-primary">{{ j.title }}</h5>
                  <small>3 days ago</small>
                </div>
                <p class="mb-1 text-dark">
                  <small>{{ j.company }}</small> {{"&#8226;"}}
                  <small>{{ j.location }}</small>
                </p>
                <p class="mb-1">
                  <small class="text-success">$45k - $60k</small> {{"&#8226;"}}
                  <small class="text-warning" *ngIf="j.visa_sponsor">Visa Sponsor</small> {{"&#8226;"}}
                  <small class="text-info" *ngIf="j.is_remote">Remote</small>
                </p>
                <p class="mb-1">We are actively looking for a smart and passionate iOS Mobile Engineer to evolve our Mobile SaaS offering.</p>
              </div>

              <div class="col-md-2">
                <div class="badge badge-success" *ngIf="j.is_published; else unpublished">PUBLISHED</div>
                <ng-template #unpublished>
                  <div class="badge badge-danger">UNPUBLISHED</div>
                </ng-template>

              </div>
            </div>
          </a>


    </div>
  </div>

</div>
