<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>PERSONAL DETAILS</title>
</head>

<body>

	<div class="container">
	
		<h3> WELCOME TO THE PERSONAL DETAILS</h3>
		<hr>
		
			<form [formGroup]="submitForm">
             <tr>
                    <td>Applicant Name:</td>
            <td>
             
			<input type="text" th:field="*{appilcantName}"
					class="form-control mb-4 col-12" placeholder="Applicant Name"></td>
               </tr>
               
               <tr>
                    <td>Appilcant LastName:</td>
            <td>
			<input type="text" th:field="*{appicantLastName}"
					class="form-control mb-4 col-12" placeholder="Applicant LastName"></td>
			</tr>
						
			<tr>
                    <td>Email:</td>
            <td>
			<input type="text" th:field="*{email}"
					class="form-control mb-4 col-12" placeholder="Email"></td>
			</tr>		
			<tr>
			<td>	
			<button type="submit" >Save</button></td>
			</tr>
						
		</form>
	
		<hr>
		<a href="/jobs">Back to Job listing Page</a>
		
	</div>
</body>
</html>
