<div class="container">
  <div class="row">
    <div class="col-md-3 px-2 py-5">
      <div class="list-group">
        <a (click)="loadLatestJobs()" class="list-group-item list-group-item-action" [ngClass]="{'selected': currentMode == 0}">Latest Jobs</a>
        <a (click)="loadVisaSponsorJobs()" class="list-group-item list-group-item-action" [ngClass]="{'selected': currentMode == 1}">VISA Sponsor Jobs</a>
        <a (click)="loadRemoteJobs()" class="list-group-item list-group-item-action" [ngClass]="{'selected': currentMode == 2}">Remote Jobs</a>
        <a (click)="loadHighSalariesJobs()" class="list-group-item list-group-item-action" [ngClass]="{'selected': currentMode == 3}">High Salaries Jobs</a>
      </div>
    </div>

    <div class="col-md-9 px-2 py-5">
      <div class="card">
        <div class="card-header">
          <p>Click on one of these jobs to see detail offers.</p>
        </div>
        <div class="list-group list-group-flush">
          <a [routerLink]="['/jobs', j._id]" class="list-group-item list-group-item-action" *ngFor="let j of jobs">
            <div class="row">
              <div class="col-md-12">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1 text-primary">{{ j.title }}</h5>
                  <small><fa-icon [icon]="faClock" size="xs"></fa-icon> {{ j.created_at | timeAgo }}</small>
                </div>
                <p class="mb-1 text-dark mt-3">
                  <span class="mr-5">{{ j.company }}</span>
                  <span><fa-icon class="text-danger" [icon]="faMapMarker"></fa-icon> {{ j.location }}</span>
                </p>
                <p class="mb-1 mt-3">
                  <span class="text-success mr-5">{{ j.salary_range | salary_range }}</span>
                  <span *ngIf="j.visa_sponsor">
                    <span class="text-warning mr-5">Visa Sponsor</span>
                  </span>
                  <span *ngIf="j.is_remote">
                    <span class="text-info mr-5">Remote</span>
                  </span>
                </p>
              </div>

            </div>
          </a>






        </div>
      </div>

<!--      <p class="mt-3 text-center">-->
<!--      <button class="btn btn-outline-info">Load more</button>-->
<!--      </p>-->
    </div>
  </div>
</div>
