<div class="container">
  <div class="row">
    <div class="col-md-3 px-2 py-5">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Latest Jobs</a>
        <a href="#" class="list-group-item list-group-item-action">VISA Sponsor Jobs</a>
        <a href="#" class="list-group-item list-group-item-action">Remote Jobs</a>
        <a href="#" class="list-group-item list-group-item-action">High Salaries Jobs</a>
      </div>
    </div>

    <div class="col-md-9 px-2 py-5">
      <div class="card">
        <div class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1 text-primary">iOS Software Engineer</h5>
              <small>3 days ago</small>
            </div>
            <p class="mb-1 text-dark">
              <small>AccuLynx</small> {{"&#8226;"}}
              <small>Beloit, WI 53511</small>
            </p>
            <p class="mb-1">
              <small class="text-success">$45k - $60k</small> {{"&#8226;"}}
              <small class="text-warning">Visa Sponsor</small> {{"&#8226;"}}
              <small class="text-info">Remote</small>
            </p>
            <p class="mb-1">We are actively looking for a smart and passionate iOS Mobile Engineer to evolve our Mobile SaaS offering.</p>
          </a>

          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1 text-primary">iOS Software Engineer</h5>
              <small>3 days ago</small>
            </div>
            <p class="mb-1 text-dark">
              <small>AccuLynx</small> {{"&#8226;"}}
              <small>Beloit, WI 53511</small>
            </p>
            <p class="mb-1">
              <small class="text-success">$45k - $60k</small> {{"&#8226;"}}
              <small class="text-warning">Visa Sponsor</small> {{"&#8226;"}}
              <small class="text-info">Remote</small>
            </p>
            <p class="mb-1">We are actively looking for a smart and passionate iOS Mobile Engineer to evolve our Mobile SaaS offering.</p>
          </a>



          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1 text-primary">iOS Software Engineer</h5>
              <small>3 days ago</small>
            </div>
            <p class="mb-1 text-dark">
              <small>AccuLynx</small> {{"&#8226;"}}
              <small>Beloit, WI 53511</small>
            </p>
            <p class="mb-1">
              <small class="text-success">$45k - $60k</small> {{"&#8226;"}}
              <small class="text-warning">Visa Sponsor</small> {{"&#8226;"}}
              <small class="text-info">Remote</small>
            </p>
            <p class="mb-1">We are actively looking for a smart and passionate iOS Mobile Engineer to evolve our Mobile SaaS offering.</p>
          </a>



          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1 text-primary">iOS Software Engineer</h5>
              <small>3 days ago</small>
            </div>
            <p class="mb-1 text-dark">
              <small>AccuLynx</small> {{"&#8226;"}}
              <small>Beloit, WI 53511</small>
            </p>
            <p class="mb-1">
              <small class="text-success">$45k - $60k</small> {{"&#8226;"}}
              <small class="text-warning">Visa Sponsor</small> {{"&#8226;"}}
              <small class="text-info">Remote</small>
            </p>
            <p class="mb-1">We are actively looking for a smart and passionate iOS Mobile Engineer to evolve our Mobile SaaS offering.</p>
          </a>


          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1 text-primary">iOS Software Engineer</h5>
              <small>3 days ago</small>
            </div>
            <p class="mb-1 text-dark">
              <small>AccuLynx</small> {{"&#8226;"}}
              <small>Beloit, WI 53511</small>
            </p>
            <p class="mb-1">
              <small class="text-success">$45k - $60k</small> {{"&#8226;"}}
              <small class="text-warning">Visa Sponsor</small> {{"&#8226;"}}
              <small class="text-info">Remote</small>
            </p>
            <p class="mb-1">We are actively looking for a smart and passionate iOS Mobile Engineer to evolve our Mobile SaaS offering.</p>
          </a>

        </div>
      </div>

      <p class="mt-3 text-center">
      <button class="btn btn-outline-info">Load more</button>
      </p>
    </div>
  </div>
</div>
