<div class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <a [routerLink]="['/u/jobs', jobId]" class="mb-5">< Go back</a>

      <h3 class="mt-3">Applicants for position <span class="text-primary">{{job.title}}</span> at <span class="text-info">{{job.company}}</span></h3>
      <p class="lead">Location: <span class="text-success">{{job.location}}</span></p>
      <hr>
    </div>
  </div>
</div>

<div class="container">
  <table class="table table-bordered table-hover">
    <thead>
    <tr class="bg-primary text-white">
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Resume File</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let a of applications">
      <td>{{a.name}}</td>
      <td>{{a.email}}</td>
      <td><a href="{{assetsUrl + '/' + a.resume_url}}" class="btn btn-link">Download</a></td>
    </tr>
    </tbody>
  </table>
</div>
